exportClasses(CompareModels)
exportClasses(FDatFitLogit)
exportClasses(FDatFitNormal)
exportClasses(ForecastData)
exportClasses(ForecastDataLogit)
exportClasses(ForecastDataNormal)
exportClasses(SummaryForecastData)
exportMethods("setModelNames<-")
exportMethods("setOutcomeCalibration<-")
exportMethods("setOutcomeTest<-")
exportMethods("setPredCalibration<-")
exportMethods("setPredTest<-")
exportMethods(calibrateEnsemble)
exportMethods(compareModels)
exportMethods(fitEnsemble)
exportMethods(getModelNames)
exportMethods(getOutcomeCalibration)
exportMethods(getOutcomeTest)
exportMethods(getPredCalibration)
exportMethods(getPredTest)
exportMethods(initialize)
exportMethods(makeForecastData)
exportMethods(plot)
exportMethods(print)
exportMethods(show)
exportMethods(summary)
